<div class="modal-header">
    <h3 class="modal-title">Storm Jameson's 'Miracle' quote<span class="miracle-close-top pull-right" ng-click="$close()">x</span></h3>
</div>
<div class="modal-body">
    <p>
        The only way to live is to accept each minute as an unrepeatable miracle, which is exactly what it is: a miracle and unrepeatable.
    </p>
    <p>
        There is only one world; the world pressing against you at this minute. There is only one minute in which you are alive; this minute here and now. The only way to live is by accepting each minute as an unrepeatable miracle.
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$close()">Close</button>
</div>