<div class="row about">
    <div class="col-md-8">
        <div class="row pull-left item"> 
            <div class="col-md-6"><img src="../content/Theo.jpg"/></div>
            <div class="col-md-6 description">Proud new dad to Theo! :) Fasinating to see my son grow.</div>
        </div>
        <div class="row pull-left item">
            <div class="col-md-6 description">Top of Mount Rainier! It was a dream come true reaching the summit on July 17th, 2015.</div>
            <div class="col-md-6"><img src="../content/MtRainierSummit.jpg"/></div>
        </div>
        <div class="row pull-left item">
            <div class="col-md-6"><img src="../content/Heidi.jpg"/></div>
            <div class="col-md-6 description">Married to amazing human being Heidi. She makes me a better person every day!</div>
        </div>
        <div class="row pull-left item last-item">
            <div class="col-md-6 description">My love for mountains, with or without snow. It is in the wilderness I discover how transient human life is. It is very humbling to be born in this beautiful planet.</div>
            <div class="col-md-6"><img src="../content/MountainsNoSnow.jpg"/><img src="../content/MountainsSnow.jpg"/></div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
