<div class="row">
    <div>
        <uib-carousel active="0" interval="3000" no-wrap="false">
            <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" class="carousel-image">
            </uib-slide>
        </uib-carousel>
    </div>
    <div>
        <div class="col-md-4 section bike">
            <div class="section-content">
                <h2 class="section-title">Hello!</h2>
                <h4 class="p-t-20">Life on this beautiful earth is a gift! Storm Jameson's quote <span class="miracle" ng-click="showMiracleModal()">'Miracle'</span>, truly reflects my approach towards life.</h4>
                <h4 class="p-t-20">I have immense passion for outdoors and people.</h4>
                <div class="tac"><a class="btn btn-default btn-section" href="#/about">More about me!</a></div>
            </div>
        </div>
        <div class="col-md-4 section profession">
            <div class="section-content">
                <h2 class="section-title">Profession</h2>
                <h4 class="p-t-20">I am a Software Engineer by profession! Web development is my passion, but I have done full-stack development.</h4>
                <h4 class="p-t-20">Love to learn new technology and establishing friendly working relationship with colleagues.</h4>
                <div class="tac"><a class="btn btn-default btn-section"" href="#/profession">Career</a></div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>